.banner {
    width: 100%;
    background-color: #f36b00;
    border: 1px solid #d15c00;
    padding:15px 0 10px 0;
}
.banner-small
{
    padding:15px; 
}
.banner .banner-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.banner-small .banner-title {
    font-size: 20px;
    line-height: 20px;
}
.banner .banner-title span {
    /*    font-family: Arial;*/
    display: inline-block;
    vertical-align: top;
}
.banner .banner-content {
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 30px;
    margin-top: 10px;
}
.banner .banner-content-text {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 18px;
    padding-right: 15px;                    
}
.banner-small .banner-content-text {
    padding-right: 10px; 
    padding-right: 10px; 
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 15px;
}
.banner .banner-content-button {
    display: inline-block;
    vertical-align: top;
}
.banner .banner-content-button a {
    background: rgba(255,255,255,0);
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px 57px;
    font-size: 15px;
    transition: background .2s ease, color .2s ease, border .2s ease;
}
.banner-small .banner-content-button a {
    padding: 5px 20px
}

.banner .banner-content-button a:after {
    content: none;
}
.banner .banner-content-button a:hover,
.banner .banner-content-button a:active {
    background: rgba(255,255,255,1);
    border: 1px solid #fff;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 57px;
}

.banner-small .banner-content-button a:hover,
.banner-small .banner-content-button a:active
{
    padding: 5px 20px
}

.nav>li>a.banner {
    width: 100%;
    background-color: #f36b00;
    border: 1px solid #d15c00;
    padding: 1px 9px;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
    text-transform: uppercase;
    border-radius: 0px;
}
.nav>li>a.banner:hover {
    background-color: #ff8500;
}