.admin-toolbar
{
    position: fixed;
    z-index: 2147483647;
    left: 5px;
    height:50px; 
    width: 50px;
    background-color: #333;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    opacity: .9;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
}
.admin-toolbar:hover, .admin-toolbar a:hover
{
    background-color: #000;
    color: #fff;
}
.admin-toolbar a 
{
    color: #fff;
}

.admin-toolbar .switcher{
    margin-top: 15px;
    border: none;
    background: #b3b8c3;
    color: #FFF;
    height: 20px;
    min-width: 40px;
    font-size: 11px;
    border-radius: 10px;
    padding: 1px;
}

.admin-toolbar .switcher .content{
    min-height: 0px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.admin-toolbar .switcher .slider{
    background: #f0f3f3;
    height: 18px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px #999;
}
.admin-toolbar .switcher.is-active{
    background: #3c8dbc;
}
.admin-toolbar .switcher .textNo{
    color: #fff;
}
span.cms-edit{
    display: inline-block;
}

.cms-edit{
    position: relative;
}
.cms-goedit{
    position: absolute; top: 0; left: 0;

}
.cms-goedit:hover{
    border: 1px solid #337ab7;
    box-shadow: 0 0 10px #337ab7;
    background-color: rgba(51, 122, 183, 0.2);
}
