<!-- Big bunner -->
<div class="banner">
    <div class="banner-title">Быстро и бесплатно доставим!</div>
    <div class="banner-content">
        <div class="banner-content-text">При заказе от 2500 руб.</div>
        <div class="banner-content-button">
            <a href="#">Подробности</a>
        </div>
    </div>
</div>

<!-- Small bunner -->
<div class="banner banner-left">
	<div class="banner-title fs-20 lh-20">
		Подарок!
	</div>
	<div class="banner-content">
		<div class="banner-content-text p-0">
			К каждому ранцу HUMMINGBIRD
		</div>
		<div class="banner-content-button">
			<a href="#">Подробности</a>
		</div>
	</div>
</div>